<div class="container">
    <h3>Create Question</h3>
    <form class="form-horizontal" role="form" (ngSubmit)="createQuestion()">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="question">Question:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="question"  [(ngModel)]="questionText" placeholder="Enter question">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="question">Category:</label>
            <div class="col-sm-10">
                <multi-value-dropdown 
                    [availableValues]="availableCategories"
                    [prompt]="'Select category'"
                    [selectedValues]="categories">
                </multi-value-dropdown>
            </div>
        </div>
        <div class="form-group row" *ngFor="let a of answers; let i=index">
            <label class="control-label col-sm-2" attr.for="answer-{{i}}">Answer:</label>
            <div class="col-sm-5"> 
                <input type="text" class="form-control" attr.id="answer-{{i}}"  [(ngModel)]="a.answerText" placeholder="Enter answer">
            </div>
            <div class="col-sm-2">
                <div class="checkbox">
                    <label><input attr.id="flag-{{i}}" type="checkbox" [(ngModel)]="a.isCorrect">Is correct?</label>
                </div>
            </div>
        </div>
        <div class="form-group row"> 
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" (click)="addAnswer()">More</button>
            </div>
        </div>
        <div class="form-group row"> 
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
<div>