<div class="container">
    <h3>List of questions</h3>
    <div *ngFor="let question of questions; let i = index">
        <question-panel [question]=question [questionIndex]="(page-1)*pageSize + i + 1"></question-panel>
    </div>
    <ul class="pager">
        <li><a [routerLink]="['/questions/list']" [queryParams]="{page: previousPage(), pageSize: pageSize}">Previous</a></li>
        <li><a [routerLink]="['/questions/list']" [queryParams]="{page: nextPage(), pageSize: pageSize}">Next</a></li>
    </ul>
</div>