.dropdown-menu-enabled {
    display: block;
}

.dropdown-toggle {
    cursor: pointer;
}

.list-group-item.alpha-item {
    display: list-item;
    list-style-type: upper-alpha;
    list-style-position: inside;
}

.label-right {
    float: right;
}

.text-medium {
    font-size: 16px;
}

.disabled-item {
  color: #a8a8a8;
}

.text-black {
    color: black;
}

option[disabled] {
  display: none;
}

.clickable {
    cursor: pointer;
}

.multi-label {
    margin-right: 5px;
    line-height: 2.5;
    font-size: 100%;
}